body{
	background-color: #B4B7B3;
	margin: 0px;
	
}
h1{
	text-align: center;
	font-size: 100px;
	background-color: #BED0C8;
	padding: 0px 0px;
	margin: 0px 10px 0px 10px;
	height: 135px;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
	background-color: #BED0C8;
	font-size: 25px;
}
ul{
	display:inline-block;
	text-align: center;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	
}
li{
	background-color: #BED0C8;
	list-style: none;
	float:left;
	width: 490px;
	font-size: 26px;
}
table, td, th {
    border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.knapp{
	display: block;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	background-color: #BED0C8;
	color: black;
	padding: 0px 22px;
	text-decoration: none;
	
}
.tabell{
	padding: 5vw;
	display: block;
	width: 41vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px;
	background-color: #BED0C8;
}
.links{
	background-color:#BED0C8;
	padding:0 12.45vw 0 13.2vw;
	margin-left: auto;
	margin-right: auto;
}
a:hover{
	background-color: #C1C4C0;
}
#sok{
	width: 1000px;
	height: 29px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#header{
	width: 1000px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#intro-text{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10vw 5vw;
	width: 790px;
}
#block{
	background-color:#C1C4C0;
	width: 1500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 280px;
}

#lankar {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width: 1000px;
}